@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

* {
    font-family: "inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/floresta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-Principal {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.containerLogin,
.containerCadastro {
    display: flex;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 500px;
    border-radius: 16px 0 0 16px;
    background-color: black;
    color: white;
}

.borda-titulo-Cadastro {
    margin-left: 36px;
    margin-right: 58px;
    margin-top: 90px;
    text-align: left;
    font-size: 1.1rem;
}

.borda-baixo-Cadastro {
    margin-bottom: 50px;
}

.box2 {
    width: 500px;
    height: 500px;
    border-radius: 0 16px 16px 0;
    border-left: 0px;
    background-color: rgba(1000, 1000, 1000, 0.5);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.borda-subtitulo-Cadastro {
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: bold;
}

.subtitulo {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 50px;
}

.botaoBranco {
    width: 150px;
    height: 60px;
    font-size: 1.1rem;
    border: solid black 4px;
    border-radius: 60px;
    margin-top: 10px;
    margin-left: 70px;
    align-self: flex-start;
}
.botaoBranco:hover {
    opacity: 0.6;
    cursor: pointer;
}

.botaoPreto {
    width: 150px;
    height: 60px;
    border: solid white 3px;
    border-radius: 60px;
    color: white;
    margin-top: 10px;
    background-color: black;
    font-size: 1.1rem;
}

.botaoPreto:hover {
    opacity: 0.6;
    cursor: pointer;
}

.input-Container {
    position: relative;
    padding-left: 0;
    margin-left: 0;
}

.input-Container > span {
    position: absolute;
    border-right: 2px solid gray;
    padding-right: 5px;
    top: 21px;
    left: 20px;
}

.input-Generico {
    width: 360px;
    height: 60px;
    background-color: white;
    border: none;
    margin-bottom: 30px;
    border-radius: 16px;
    padding-left: 50px;
}

.inputAdicionar {
    width: 360px;
    height: 60px;
    background-color: #cccccc;
    border: none;
    margin-bottom: 20px;
    border-radius: 16px;
    padding-left: 50px;
}

.retiraMargem {
    margin-left: 0;
}

menu {
    z-index: 2;
    margin: 0 auto;
    width: 100vw;
    height: 8vh;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    margin-left: 2%;
    font-size: 1.2rem;
}

.logout {
    margin-right: 3%;
    width: 130px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
}

.botaoSair {
    border: 0;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

.BsBoxArrowRight {
    font-size: 1.3rem;
}

.container-formulario {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    margin-right: 3%;
    width: 100%;
    max-width: 950px;
    height: 50px;
    border-radius: 16px;
    border: none;
    background-color: #cccccc;
    padding: 0px 50px;
    font-size: 18px;
}

.BsSearch {
    position: relative;
    top: 3px;
    left: 40px;
    font-size: 1.2rem;
    color: #7e7e7e;
}

.tabela-contatos-principal {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}
.tabela-contatos {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.container-imagem-principal {
    display: flex;
    justify-content: center;
}

.container-imagem {
    width: 64px;
    height: 64px;
    background-color: #d9d9d9;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icone:hover {
    cursor: pointer;
}

.vermelho {
    color: #ff0000;
}

.tabela-contatos tbody {
    height: 55px;
}

.tabela-contatos tbody tr {
    height: 74px;
    background-color: white;
    font-weight: 400;
}

.tabela-contatos tbody tr:hover > td {
    background-color: #d3d3d3;
}

.botaoAdd {
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 85%;
    right: 8%;
    display: flex;
    justify-content: right;
}

.botaoAdicionar {
    background-color: black;
    color: white;
    border-radius: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: relative;
    float: left;
    z-index: 2;
    cursor: pointer;
}

.botaoAdicionar:hover {
    opacity: 0.6;
}

.BsPersonPlus {
    margin-right: 8px;
    font-size: 1.5rem;
}

.apareca-700 {
    display: none;
}

@media (min-width: 700px) {
    .apareca-700 {
        display: table-cell;
    }
}

.modalContainer {
    z-index: 2;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: white;
    padding: 16px 24px;
    width: 33vw;
    min-width: 450px;
    height: 78vh;
    min-height: 450px;
    border-radius: 8px;
}
.exitModal {
    float: right;
    cursor: pointer;
}

.container-imagem-modal {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 90px;
    height: 90px;
    background-color: #d9d9d9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add {
    display: fixed;
}

.campos {
    border-radius: 0 16px 16px 0;
    border-left: 0px;
    background-color: rgba(1000, 1000, 1000, 0.5);
    color: black;
    display: flex;
    position: relative;
    top: 48%;
    transform: translateY(-50%);
    align-items: center;
    flex-direction: column;
}

.botaoSalvar {
    width: 150px;
    height: 60px;
    font-size: 1.1rem;
    border: solid black 4px;
    border-radius: 60px;
    margin-top: 10px;
    align-self: flex-start;
    display: block;
}

.botaoSalvar:hover {
    opacity: 0.6;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modalErro {
    background-color: white;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes > button {
    width: 50vw;
    height: 50px;
    border: 0;
    font-size: 1.14rem;
    font-weight: bold;
}

.botoes > button:nth-child(1) {
    background-color: white;
    border-top: 1px solid gray;
}

.botoes > button:nth-child(2) {
    background-color: black;
    color: white;
}

.botoes > button:hover {
    opacity: 0.6;
}

.modalErro > span {
    padding: 25px;
    font-size: 1.25rem;
    font-weight: bold;
}
